@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100%;
    height: 100dvh;
}


.img-bg{
    position: absolute;
    right: 0;
    width: 60%;   
    max-height: 100dvh;
    object-fit: cover;
    clip-path: polygon(49% 0, 100% 0, 100% 100%, 0% 100%);
}

.customHover:hover{
    transform: scale(1.1);
    transition: all .5s;
}

@media (max-width: 1024px) {
    .img-bg{
        position: absolute;
        top: -130px;
        width: 100%;
        height: 30%;   
        max-height: 100dvh;
        object-fit: cover;
        clip-path: polygon(0 51%, 100% 51%, 100% 85%, 0 86%);
    }    
}